@import url("https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Joan&family=Tiro+Gurmukhi&display=swap");
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
.header-div {
  border-bottom: 2px solid #f57a67;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #89d5c9;
  /* color: hsla(16, 100%, 67%, 0.8); */
  color: #ff8357;
}
.header-div ul {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
  list-style: none;
}
.header-div ul li a {
  text-decoration: none;
  font-size: 1.3em;
  font-family: "Tiro Gurmukhi", serif;
}

a:link {
  /* color: hsla(16, 100%, 67%, 0.9); */
  color: #ff8357;
}
a:hover {
  color: #adc965;
}
a:visited {
  color: #fac172;
}
a:active {
  color: white;
}
/* DONE STYLING HEADER */

.main-container {
  margin: 0;
  padding: 0;
}
.first-main {
  background-image: url(/img/sky2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 100px;
  text-align: center;
  font-family: "Joan", serif;
  /* color: #e54d35; */
  color: lightgoldenrodyellow;
}
.middle-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #89d5c9;
  /* color: hsla(16, 100%, 67%, 0.8); */
  color: #ff8357;
  font-size: 1.1em;
  font-family: "Tiro Gurmukhi", serif;
  font-weight: bold;
  padding: 7px;
}
.middle-main form {
  width: 30%;
  height: 60%;
}
.middle-main .text {
  width: 65%;
  height: 35px;
  border: 1px solid white;
  border-radius: 3px;
}
.middle-main .button {
  float: right;
  width: 35%;
  height: 35px;
  /* background-color: hsla(16, 100%, 67%, 0.8); */
  background-color: #ff8357;
  font-family: "Tiro Gurmukhi", serif;
  font-size: 0.8em;
  color: white;
  border-style: none;
  border-radius: 3px;
}
/* ---------------------------------------------------------------------- */
.last-main {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  padding: 20px;
  margin: 20px auto;
}
.last-main img {
  width: 100px;
  height: 100px;
  opacity: 0.8;
}

.overview {
  align-items: center;
  text-align: center;
  width: 80%;
  font-family: "Tiro Gurmukhi", serif;
  font-size: 0.9em;
  /* color: hsla(16, 100%, 67%, 0.8); */
  color: #ff8357;
  line-height: 1.5;
  padding: 7px;
}
/* ---------------------------------------------------------------------- */

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 2px;
  margin: 60px;
  padding: 30px;
}
.information {
  width: 100%;
  height: auto;
}
.information p {
  font-family: "Tiro Gurmukhi", serif;
  font-size: 1em;
}
.information h1 {
  font-family: "Joan", serif;
  font-weight: bold;
}
.first {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  height: auto;
  margin: auto 30px;
  padding: 20px;
  /* color: hsla(16, 100%, 67%, 0.9); */
  color: #ff8357;
  line-height: 1.5;
}
.middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  height: auto;
  /* background-color: hsla(16, 100%, 67%, 0.8); */
  background-color: #ff8357;
  color: white;
  margin: auto 30px;
  padding: 20px;
}

.last {
  display: flex;
  /* background-color: hsla(16, 100%, 67%, 0.8); */
  background-color: #ff8357;

  color: white;
  width: 80%;
  height: auto;
  text-align: left;
  margin: auto 30px;
  padding: 20px;
}

/* ---------------------------------------------------------------------- */
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 30px;
}
/* .div-container {
  border: 3px solid #adc965;
} */
.div-container h2 {
  text-align: center;
  font-family: "Joan", serif;
  font-weight: bold;
  color: #fac172;
}
.form-div h3 {
  text-align: left;
  font-family: "Joan", serif;
  font-weight: bold;
  color: #fac172;
}
.form-div form {
  border: 2px solid #adc965;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
  height: auto;
  padding: 5px 30px 30px;
  margin-top: 20px;
  /* background-color: hsla(171, 48%, 69%, 0.2); */
  background-color: hsla(77, 77%, 70%, 0.4);
}
.form-div input,
textarea {
  line-height: 2;
  padding: 10px auto;
  width: 100%;
  height: auto;
  border: 1px solid #adc965;
}
.form-div label {
  color: #fac172;
}
.form-div input[type="button"] {
  width: 35%;
  height: 35px;
  background-color: #fac172;
  font-family: "Tiro Gurmukhi", serif;
  font-size: 0.8em;
  color: white;
  border-style: none;
  margin-top: 10px;
}
.services {
  border: 1px solid #adc965;
  /* background-color: hsla(77, 70%, 70%, 0.4) ; */
  background-color: hsla(77, 77%, 70%, 0.4);
  /* background-color: hsla(171, 48%, 69%, 0.2); */
  /* background-color: hsla(35, 78%, 79%, 0.2); */
  margin: 20px;
  padding: 10px;
  color: #fac172;
}
.services p {
  font-family: "Tiro Gurmukhi", serif;
  font-size: 1em;
}
.services h3 {
  font-family: "Joan", serif;
  font-weight: bold;
}
/* ---------------------------------------------------------------------- */

footer {
  width: 100%;
  height: 80px;
  background-color: #f8c680;
  color: white;
  /* background-color: #adc965;
  color: #fac172; */
  font-size: 1.5em;
  font-family: "Joan", serif;
  text-align: center;
  padding-top: 25px;
}
